<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books App</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="/books-style.css" />
  </head>

  <body>
    <h1 class="title">⚡ ECS - Advanced ALB Routing</h1>
    <h2 class="sub-title">Books</h2>

    <div class="container">
      <table id="booksTable">
        <thead>
          <tr>
            <th>Title</th>
            <th>Published Date</th>
            <th>Pages</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody id="booksTableBody"></tbody>
      </table>

      <div id="loading">Loading...</div>

      <div id="errorUI">Error loading books. Please try again later.</div>
    </div>

    <script>
      async function fetchBooks() {
        try {
          const loadingDiv = document.getElementById("loading");
          loadingDiv.style.display = "block";

          const res = await fetch("/books/api");
          const { books } = await res.json();

          loadingDiv.style.display = "none";

          const tbody = document.getElementById("booksTableBody");

          books.forEach((book) => {
            const row = document.createElement("tr");

            const titleCell = document.createElement("td");
            titleCell.textContent = book.title;

            const publishedDateCell = document.createElement("td");
            publishedDateCell.textContent = book.publishedDate;
            publishedDateCell.style.minWidth = "120px";

            const pagesCell = document.createElement("td");
            pagesCell.textContent = book.pages;

            const descriptionCell = document.createElement("td");
            descriptionCell.textContent = book.description;

            row.appendChild(titleCell);
            row.appendChild(publishedDateCell);
            row.appendChild(pagesCell);
            row.appendChild(descriptionCell);
            tbody.appendChild(row);
          });

          document.getElementById("booksTable").style.display = "table";
          document.getElementById("errorUI").style.display = "none";
        } catch (err) {
          console.error("Error fetching books:", err);
          document.getElementById("loading").style.display = "none";
          document.getElementById("booksTable").style.display = "none";
          document.getElementById("errorUI").style.display = "block";
        }
      }

      window.onload = fetchBooks;
    </script>
  </body>
</html>
